<!DOCTYPE html>
<html>
<head>
    <title>Transaction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>{% if transactions %}Transactions{% else %}Create Transaction{% endif %}</h1>
        {% if transactions %}
            <table>
                <thead>

                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.id }}</td>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <form method="POST" action="{{ url_for('create_transaction') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.amount.label }}
                    {{ form.amount(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.date.label }}
                    {{ form.date(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.type.label }}
                    {{ form.type(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.description.label }}
                    {{ form.description(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        {% endif %}
    </div>
</body>
</html>